@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

body {
    background-color: #7AB285;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

#home{
    font-family: 'Bree Serif', serif;
    font-size: 35px;

    position: absolute;
    top: 0;
    right: 0;

    margin: 0;
    padding-right: 40px;
    padding-top: 20px;


}

#home:hover{
    color: black;
    transition: .5s;

}

#home:not(:hover){
    color: #3B6544;
    transition: .3s;
}

h1 {
    font-family: 'Bree Serif', serif;
    font-size: 200px;
    margin: 0;
    padding-left: 10px;
}



#container{
    height: 500px;
    width: auto;

    position: absolute;
    top: 50%;
    left:0;
    transform: translate(0%, -50%);

}


#clock {
    font-family: 'Bree Serif', serif;
    font-size: 200px;

    position: absolute;
    left: 58%;

}

@media screen and (max-width: 1490px) {
    h1 {font-size: 12vw;}
    #clock {font-size: 12vw;}

}
