:root {
  font-size: 10px; }

a {
  text-decoration: none;
  color: #1e1e1e;
  letter-spacing: 0.5px; }

h1, h2, h3, h4 {
  font-size: 35px;
  margin: 0; }

p {
  font-size: 20px;
  font-family: "soleil", sans-serif; }

input {
  outline: none;
  border: none;
  font-family: "Montserrat", sans-serif; }

button {
  border: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500; }

body {
  width: 100%;
  background-color: #ecf3f3;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  text-rendering: optimizeLegibility;
  overflow-x: hidden; }

.circle {
  background-image: url(../../Screenshots/atto-edit-2.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat; }

.quotes {
  background-image: url(../../media/quotes.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.flx {
  display: flex; }

.cc {
  justify-content: center;
  align-items: center; }

.sp {
  justify-content: space-between; }

.a-start {
  align-items: flex-start; }

.a-end {
  align-items: flex-end; }

.j-end {
  justify-content: flex-end; }

.j-start {
  justify-content: flex-start; }

.flx-col {
  flex-direction: column; }

.crsr {
  cursor: pointer;
  cursor: hand; }

.container {
  width: 1200px; }

.br {
  width: 100%;
  height: 150px;
  background-color: #ecf3f3; }

.pageheader {
  width: 100%;
  height: 100px;
  background-color: #0098d2; }
  .pageheader .container {
    display: flex;
    justify-content: space-between; }
    .pageheader .container .leftnav {
      display: flex;
      align-items: center; }
      .pageheader .container .leftnav a {
        font-size: 14px;
        font-weight: 600;
        color: #FFFFFF;
        transition: 0.3s; }
      .pageheader .container .leftnav a:hover {
        color: #adf0ff; }
      .pageheader .container .leftnav .dot {
        width: 5px;
        height: 5px;
        margin: 15px;
        border-radius: 2.5px;
        background-color: #ff9b82; }
    .pageheader .container .rightnav .talk {
      height: 100px;
      width: 110px;
      background-color: #ff6d52;
      color: #FFFFFF;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0.5px;
      transition: 0.3s;
      box-shadow: 0 0 0 0 #ff9b82; }
    .pageheader .container .rightnav .talk:hover {
      box-shadow: 0 -20px 0 20px #ff9b82; }

.header {
  width: 100%;
  height: 500px;
  background-color: #ecf3f3; }
  .header .container .header-left {
    max-width: 800px; }
    .header .container .header-left h1 {
      margin-left: 50px;
      font-size: 50px;
      font-weight: 800;
      font-kerning: normal;
      line-height: 70px;
      word-spacing: 6px;
      color: #1e1e1e; }
      .header .container .header-left h1 span {
        font-weight: 700; }

.message, .item .container .image-trav::before, .item .container .image-tech::before, .item .container .image-video::before, .item .container .image-letter::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  -webkit-filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.4));
  filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.4)); }

.image-float, .item .container .image-trav, .item .container .image-tech, .item .container .image-video, .item .container .image-letter {
  width: 40rem;
  height: 100%;
  background-color: #ff6d52; }

.item {
  width: 100%;
  height: 75rem;
  background-color: #ecf3f3;
  position: relative; }
  .item .container {
    width: 110rem;
    height: 100%;
    -webkit-filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.4));
    filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.4)); }
    .item .container .image-trav::before {
      left: 30rem;
      background-image: url(../../Screenshots/joyScreen.png);
      background-size: 50rem;
      background-repeat: no-repeat;
      background-position: 50% 50%; }
    .item .container .image-tech::before {
      right: 30rem;
      background-image: url(../../Screenshots/techco.png);
      background-size: 50rem;
      background-repeat: no-repeat;
      background-position: 50% 50%; }
    .item .container .image-video::before {
      left: 30rem;
      background-image: url(../../Screenshots/atto-edit-2.png);
      background-size: 50rem;
      background-repeat: no-repeat;
      background-position: 50% 50%; }
    .item .container .image-letter::before {
      right: 30rem;
      background-image: url(../../Screenshots/letterS.png);
      background-size: 50rem;
      background-repeat: no-repeat;
      background-position: 50% 50%; }
    .item .container .text-container {
      background-color: #FFFFFF; }
      .item .container .text-container .text {
        width: 40rem;
        height: 65rem;
        margin: 5rem; }
        .item .container .text-container .text h1 {
          margin-bottom: 3rem;
          color: #1e1e1e; }
        .item .container .text-container .text .hr {
          height: 1px;
          width: 40rem;
          background-color: #999; }
        .item .container .text-container .text p {
          color: #000; }
        .item .container .text-container .text .buttons {
          margin-top: auto;
          z-index: 5; }
          .item .container .text-container .text .buttons a {
            width: 14rem;
            height: 7rem;
            width: 25%;
            padding: 1rem;
            font-family: "Montserrat", sans-serif;
            font-size: 14px;
            font-weight: 500;
            color: #FFFFFF;
            background-color: #ff6d52;
            transition: background-color 0.3s; }
          .item .container .text-container .text .buttons a:first-child {
            margin-right: 20px; }
          .item .container .text-container .text .buttons a:hover {
            background-color: #ff9b82; }

footer {
  width: 100%;
  height: 100px;
  background-color: #222; }
  footer .container {
    align-items: center; }
    footer .container .me {
      font-size: 11px;
      font-weight: 400;
      color: #FFFFFF; }
      footer .container .me span {
        color: #ff6d52; }
    footer .container .icons {
      flex: none; }
      footer .container .icons i {
        margin-left: 15px;
        font-size: 25px;
        color: #FFFFFF;
        transition: 0.2s; }
      footer .container .icons i:hover {
        color: #ff6d52; }

@media (max-width: 1310px) {
  .container {
    width: 100%;
    margin: 0 50px; } }
@media (max-width: 1200px) {
  :root {
    font-size: 9px; } }
@media (max-width: 1120px) {
  :root {
    font-size: 8px; } }
@media (max-width: 966px) {
  :root {
    font-size: 7px; }

  h1 {
    font-size: 30px; }

  p {
    font-size: 18px; } }
@media (max-width: 825px) {
  :root {
    font-size: 6px; }

  h1 {
    font-size: 28px; }

  p {
    font-size: 16px; }

  .item .container .text-container .text .buttons a {
    font-size: 12px; } }
@media (max-width: 710px) {
  :root {
    font-size: 5.5px; }

  h1 {
    font-size: 24px; }

  p {
    font-size: 15px; }

  .item .container .text-container .text .buttons a {
    font-size: 11px; } }
@media (max-width: 666px) {
  .item .container {
    width: 100%; }
    .item .container .text-container {
      width: 100%; }
      .item .container .text-container .text {
        width: 100%; }
        .item .container .text-container .text .hr {
          width: 100%; }

  .hide {
    display: none; } }

/*# sourceMappingURL=index.css.map */
