:root {
  font-size: 20px; }

a {
  text-decoration: none;
  color: #1e1e1e;
  letter-spacing: 0.5px; }

h1, h2, h3, h4 {
  margin: 0; }

p {
  font-family: "soleil", sans-serif; }

input {
  outline: none;
  border: none;
  font-family: "Montserrat", sans-serif; }

button {
  border: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500; }

body {
  width: 100%;
  background-color: #ecf3f3;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  text-rendering: optimizeLegibility;
  overflow-x: hidden; }

.circle {
  background-image: url(../../Screenshots/atto-edit-2.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat; }

.quotes {
  background-image: url(../../media/quotes.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.flx {
  display: flex; }

.cc {
  justify-content: center;
  align-items: center; }

.sp {
  justify-content: space-between; }

.a-start {
  align-items: flex-start; }

.a-end {
  align-items: flex-end; }

.j-end {
  justify-content: flex-end; }

.j-start {
  justify-content: flex-start; }

.flx-col {
  flex-direction: column; }

.crsr {
  cursor: pointer;
  cursor: hand; }

.container {
  width: 1200px; }

.br {
  width: 100%;
  height: 150px;
  background-color: #ecf3f3; }

.pageheader {
  width: 100%;
  height: 100px;
  background-color: #0098d2; }
  .pageheader .container {
    display: flex;
    justify-content: space-between; }
    .pageheader .container .leftnav {
      display: flex;
      align-items: center; }
      .pageheader .container .leftnav a {
        font-size: 14px;
        font-weight: 600;
        color: #FFFFFF;
        transition: 0.3s; }
      .pageheader .container .leftnav a:hover {
        color: #adf0ff; }
      .pageheader .container .leftnav .dot {
        width: 5px;
        height: 5px;
        margin: 15px;
        border-radius: 2.5px;
        background-color: #ff9b82; }
    .pageheader .container .rightnav .talk {
      height: 100px;
      width: 110px;
      background-color: #ff6d52;
      color: #FFFFFF;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0.5px;
      transition: 0.3s;
      box-shadow: 0 0 0 0 #ff9b82; }
    .pageheader .container .rightnav .talk:hover {
      box-shadow: 0 -20px 0 20px #ff9b82; }

.header {
  width: 100%;
  height: 500px;
  background-color: #ecf3f3; }
  .header .container .header-left {
    max-width: 800px; }
    .header .container .header-left h1 {
      margin-left: 50px;
      font-size: 50px;
      font-weight: 800;
      font-kerning: normal;
      line-height: 70px;
      word-spacing: 6px;
      color: #1e1e1e; }
      .header .container .header-left h1 span {
        font-weight: 700; }

.item {
  width: 100%;
  height: 750px;
  background-color: #ecf3f3;
  position: relative; }
  .item .container {
    width: 1000px;
    height: 100%;
    -webkit-filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.4));
    filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.4)); }
    .item .container .image-right {
      width: 400px;
      height: 100%;
      background-color: #ff6d52; }
    .item .container .image-left {
      width: 400px;
      height: 100%;
      background-color: #ff6d52; }
    .item .container .image-right::before {
      content: "";
      position: absolute;
      top: 0;
      left: 300px;
      width: 100%;
      height: 100%;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-crisp-edges;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: crisp-edges;
      -ms-interpolation-mode: nearest-neighbor;
      background-image: url(../../Screenshots/joyScreen.png);
      background-size: 500px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      -webkit-filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.4));
      filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.4)); }
    .item .container .image-left::before {
      content: "";
      position: absolute;
      top: 0;
      right: 300px;
      width: 100%;
      height: 100%;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-crisp-edges;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: crisp-edges;
      -ms-interpolation-mode: nearest-neighbor;
      background-image: url(../../Screenshots/techco.png);
      background-size: 500px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      -webkit-filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.4));
      filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.4)); }
    .item .container .text-container {
      width: 500px;
      height: 750px;
      background-color: #FFFFFF; }
      .item .container .text-container .text {
        width: 400px;
        height: 650px; }
        .item .container .text-container .text h1 {
          margin-bottom: 30px;
          color: #1e1e1e; }
        .item .container .text-container .text .hr {
          height: 1px;
          width: 300px;
          background-color: #999; }
        .item .container .text-container .text p {
          color: #000; }
        .item .container .text-container .text .buttons {
          margin-top: auto;
          z-index: 5; }
          .item .container .text-container .text .buttons button {
            width: 140px;
            margin-right: 20px; }

.content5 {
  width: 100%;
  height: 600px;
  background-color: #ecf3f3; }
  .content5 .container {
    height: 100%; }
    .content5 .container .nav-items {
      height: 300px;
      width: 50%; }
    .content5 .container .contact {
      height: 300px;
      width: 50%;
      margin-left: 50px; }
      .content5 .container .contact h1 {
        color: #FFFFFF; }
      .content5 .container .contact input {
        height: 50px;
        width: 50%;
        padding: 0 20px;
        font-size: 14px;
        font-weight: 500;
        background-color: rgba(0, 0, 0, 0.2);
        color: #1e1e1e; }
      .content5 .container .contact input::placeholder {
        color: #1e1e1e; }

button {
  height: 50px;
  width: 25%;
  font-size: 14px;
  color: #FFFFFF;
  background-color: #ff6d52;
  transition: 0.3s; }

button:hover {
  background-color: #ff9b82; }

footer {
  width: 100%;
  height: 100px;
  background-color: #222; }
  footer .container {
    align-items: center; }
    footer .container .me {
      font-size: 14px;
      font-weight: 500;
      color: #FFFFFF; }
    footer .container .icons i {
      margin-left: 15px;
      font-size: 30px;
      color: #FFFFFF;
      transition: 0.2s; }
    footer .container .icons i:hover {
      color: #ff6d52; }

@media (max-width: 1310px) {
  .container {
    width: 100%;
    margin: 0 50px; } }

/*# sourceMappingURL=index.css.map */
