body {
  width: 100%;
  background-color: #f3f3f3;
  margin: 0;
  font-family: "Poppins", sans-serif; }

a {
  text-decoration: none;
  color: #000000; }

h1, h2, h3, h4, h5 {
  margin: 0; }

.container {
  width: 1200px; }

.outer {
  display: flex;
  justify-content: center; }

.header {
  background-color: #999999;
  height: 100px; }
  .header .container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .header .container .logo {
      background-image: url(../media/company-logo.png);
      background-size: contain;
      background-repeat: no-repeat;
      height: 100px;
      width: 500px; }
    .header .container .getintouch {
      width: 150px;
      height: 42px;
      background-color: #FFC017;
      font-weight: 500;
      font-size: 16px;
      display: flex;
      justify-content: center;
      border-radius: 21px; }
      .header .container .getintouch a {
        display: flex;
        align-self: center;
        margin: 0; }

.nav-bar {
  height: 33px;
  background-color: #666666; }
  .nav-bar .container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .nav-bar .container a {
      margin: 0px 20px; }
    .nav-bar .container .left-nav a:nth-child(1) {
      margin: 0px 20px 0 0; }
    .nav-bar .container .right-nav a:last-child {
      margin: 0px 0 0 20px; }

.hero {
  height: 600px;
  background-color: #fefefe; }
  .hero .container {
    display: flex;
    justify-content: center;
    align-items: center; }
    .hero .container .intro {
      height: 500px;
      width: 800px;
      background-color: #999999;
      border-radius: 10px; }

.quad {
  background-color: #999999;
  height: 800px; }
  .quad .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .quad .container .square {
      width: 450px;
      height: 350px;
      border-radius: 15px;
      background-color: #b3b3b3;
      margin: 25px; }
    .quad .container .square:last-child {
      background-color: red; }

.compare {
  background-color: #fefefe; }
  .compare .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0; }
    .compare .container a {
      text-decoration: underline; }

.why {
  height: auto;
  background-color: #999999; }
  .why .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .why .container .why-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 50px 0; }
    .why .container .why-column {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%; }
      .why .container .why-column .text {
        width: 250px;
        height: 400px;
        background-color: red; }
      .why .container .why-column .image {
        width: 350px;
        height: 400px;
        background-color: green; }
    .why .container .why-row {
      width: 100%;
      background-color: #b3b3b3;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 50px 0; }
      .why .container .why-row .tab {
        width: 20%;
        height: 200px;
        text-align: center; }
    .why .container .why-more {
      width: 200px;
      height: 50px;
      background-color: #666666;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 50px; }

.fact .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 50px 0; }

.callto .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 50px 0; }

@media screen, (min-width: 1300px) {
  .container {
    width: calc(100%-100px); } }

/*# sourceMappingURL=exhib.css.map */
